In [31]:
import pandas as pd
import numpy as np
import os

### File and Field Information
- summaries_train.csv - Summaries in the training set.
- student_id - The ID of the student writer.
- prompt_id - The ID of the prompt which links to the prompt file.
- text - The full text of the student's summary.
- content - The content score for the summary. The first target.
- wording - The wording score for the summary. The second target.
- summaries_test.csv - Summaries in the test set. Contains all fields above except content and wording.
- prompts_train.csv - The four training set prompts. Each prompt comprises the complete summarization assignment given to students.
- prompt_id - The ID of the prompt which links to the summaries file.
- prompt_question - The specific question the students are asked to respond to.
- prompt_title - A short-hand title for the prompt.
- prompt_text - The full prompt text.
- prompts_test.csv - The test set prompts. Contains the same fields as above. The prompts here are only an example. The full test set has a large number of prompts. The train / public test / private test splits do not share any prompts.

# 1 : Visualise data

In [42]:
# Get the current working directory (where the notebook is located)
notebook_dir = os.getcwd()

'd:\\GitHub\\evaluate_student_summaries_kaggle\\notebooks'

In [46]:
# Construct the relative path to the CSV file
csv_path = os.path.join(notebook_dir, '..', 'data','external', 'summaries_train.csv')
summaries_train_df = pd.read_csv(csv_path)

csv_path = os.path.join(notebook_dir, '..', 'data','external', 'prompts_train.csv')
prompts_train_df = pd.read_csv(csv_path)
prompts_train.head()

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [50]:
summaries_train_df.head()

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757

In [51]:
summaries_train_df.describe()

           content      wording
count  7165.000000  7165.000000
mean     -0.014853    -0.063072
std       1.043569     1.036048
min      -1.729859    -1.962614
25%      -0.799545    -0.872720
50%      -0.093814    -0.081769
75%       0.499660     0.503833
max       3.900326     4.310693